.select {
    border: 2px solid hsl(300, 100%, 22%);
    border-radius: 15px;
    padding: 3px;
    color: purple;
    font-size: 17px;
}

.select:focus {
    outline: none;
    border-color: hsl(300, 100%, 35%);
}

.select__label {
    font-size: 18px;
}