.header {
    position: relative;
    background-color: rgb(138, 81, 133);
    display: flex;
}

.header__heading {
    flex-grow: 1;
    text-align: center;
    color: white;
    letter-spacing: 4px;
}