.wrapper {
  min-height: calc(100vh - 79.675px);
  display: flex;
  align-items: center;
  justify-content: center;

}

@media (max-height: 720px) {
  .wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}