.button {
    background-color: purple;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    transition: 1s;
}

.button:hover {
    background-color: hsl(300, 100%, 35%);
}