html {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  background-image: url(./background-image.png);
  background-repeat: repeat-y;
  background-size: cover;
}